rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // 0. Global Safety Net
    match /{document=**} {
      allow read, write: if false;
    }

    function isValidId(id) {
      return id is string && id.size() <= 128;
    }
    function isSignedIn() { return request.auth != null; }

    match /rooms/{roomId} {
       // Kita membuka update operations sementara di development environment, 
       // Auth tetap diperlukan sehingga mencegah pihak tanpa akun (auth anon) mengubah ini.
      allow read: if isSignedIn() && isValidId(roomId);
      allow create: if isSignedIn() && isValidId(roomId);
      allow update: if isSignedIn() && isValidId(roomId);
      allow delete: if isSignedIn();
    }
  }
}
